<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menu</title>

</head>
<body style="background-color:#FEC8D8;">
<h1>Admin Work System</h1>

<a href="/listcat"><button type="button"><h2>Click here to Manage Categories </h2></button></a><br>
<h1><a href="/index"><button type="button"><h2>Click here to view the list of users </h2> </button> </a><br></h1>
<h1><a href="/listprod"><button type="button"><h2> Click here to view the products List </h2></button></a><br></h1>
<br>
<br>
<a href="/logout"><button type="button"><h2>LogOut </h2></button></a>



</body>
</html>

	
